
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1036%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='46.45' cx='1411.02' cy='325.89' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='24.34' cx='1165.77' cy='289.21' fill='url(%23SvgjsLinearGradient1037)'%3e%3c/circle%3e%3ccircle r='35.06' cx='198.38' cy='113.89' fill='url(%23SvgjsLinearGradient1038)'%3e%3c/circle%3e%3ccircle r='27.27' cx='734.3' cy='357.81' fill='url(%23SvgjsLinearGradient1039)'%3e%3c/circle%3e%3ccircle r='34.83' cx='259.69' cy='167.5' fill='url(%23SvgjsLinearGradient1040)'%3e%3c/circle%3e%3ccircle r='30.52' cx='376.23' cy='313.67' fill='url(%23SvgjsLinearGradient1041)'%3e%3c/circle%3e%3ccircle r='41.17' cx='767.16' cy='365.78' fill='url(%23SvgjsLinearGradient1042)'%3e%3c/circle%3e%3ccircle r='23.965' cx='1413.92' cy='249.78' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1036'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1117.09' y1='289.21' x2='1214.4499999999998' y2='289.21' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1037'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='128.26' y1='113.89' x2='268.5' y2='113.89' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1038'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='679.76' y1='357.81' x2='788.84' y2='357.81' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1039'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='190.03' y1='167.5' x2='329.35' y2='167.5' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1040'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='315.19' y1='313.67' x2='437.27' y2='313.67' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1041'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='684.8199999999999' y1='365.78' x2='849.5' y2='365.78' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1042'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1365.99' y1='249.78' x2='1461.85' y2='249.78' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1043'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;


}

html{
    font-size: 60%;
    font-family:cursive

}

body .ra {
    font-size: 20px;
    padding: 10px;
    display: table;
    text-decoration: none;
    background-color: rgba(255, 213, 73, 0.582);
    color: black;
}

body .ra:active {
    transform: scale(80%);
}   

.contenedor{
    display: flex;
    /* centra y ordena al medio */
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 15px;

}

.calculadora{
    display: flex;
    /* especifica como colocar los elementos flexibles en el contenedor */
    flex-direction: column;
    width: 500px;
    /* Depende del tamaño general */
    font-size: 2rem;
    border: 5px solid rgb(199, 0, 57);
    background-color: rgb(133, 93, 150);
}

.resultado{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 5px solid rgb(22, 21, 119);
    /* cuando llegue al limete se recorte de forma horizontal */
    overflow-x: auto;
}

.keypad{
    width: 100%;
    display: flex;
}

.numeros{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.boton{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: rgb(66, 67, 141);
    border: 1px solid rgb(7, 5, 5);
}

.largo{
    width: 50%;
}
.boton:hover{
    text-transform: uppercase;
    transform: scale(1.1);
    transition: 500ms ease;
    background-color: rgb(118, 67, 148);
}

.amarillo{
    background-color: rgb (66, 67, 141);
}

h1{
    text-align: center;
    padding:15px 0 ;
    font-family:cursive;
}


footer{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color:rgb(255, 255, 255);
    
}

img{
    float: right;
    padding: 2.5px ;
}