*{margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;}
    
    body{
        background-color: rgb(232, 211, 183);
    }

    body .ra {
        font-size: 20px;
        padding: 10px;
        display: table;
        text-decoration: none;
        background-color: rgba(98, 146, 248, 0.74);
        color: black;
    }
    
    body .ra:active {
        transform: scale(80%);
    }   
    header{
        background-color: rgba(135, 104, 104, 0);
        margin-top: 10px;
        padding: 10px;
        width: 90%;
    }

    h1{
        font-size: 50px;
        text-transform: uppercase;
        text-shadow: rgb(127, 126, 126) 0 -10px;
        text-align: center;
    }

    .texto{
        background-color: rgba(135, 104, 104, 0);
        text-align: center;
        width:90%;
    }


    .texto p{
        text-align: justify;
        font-size: 20px;
    }








    .contenedor{
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .carrusel{
        display: flex;
        overflow-y: hidden;
        padding: 40px;
        overflow-x: hidden;
    }

    .imagenes{
        min-width: 400px;
        max-width: 400px;
        height: 300px;
        outline: 2px solid black;
        cursor: pointer;
    }

    .carrusel .imagenes{
        position:relative;
        height: 250px;
        cursor: pointer;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 20px 30px rgba(0,0,0,0.50);
    }
    .carrusel .imagenes img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
        object-fit: cover;
    }
    .carrusel .imagenes .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(48, 48, 48, 0.636);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }
    .carrusel .imagenes:hover > .capa {
        opacity: 1;
        visibility: visible;
    }
    .carrusel .imagenes:hover > .capa h3{
        margin-top: 90px;
        margin-bottom: 20px;
    }
    .carrusel .imagenes:hover > img{
        transform: scale(1.3);
    }
    .carrusel .imagenes .capa h3{
        color: bisque;
        text-shadow: 1px 1px 1px black;
        font-size: 2.5em;
        text-transform: uppercase;
    }
    
    .final{
        background-color: rgba(135, 104, 104, 0);
        text-align: center;
        width:90%;
    }

    .final h1{
        font-size: 40px;
        text-transform: uppercase;
        text-shadow: rgb(127, 126, 126) 0 -5px;
        text-align: center;
    }

    .final p{
        text-align: justify;
        font-size: 20px;
    }

    .piedepagina{
        width: 100%;
        background-color: rgba(121, 101, 101, 0.709);
        text-align: right;
    }
    
    .piedepagina p{
        font-size: 30px;
    }

    .instagram{
        width: 30px;
    }
    
    .piedepagina address{
        font-size: 20px;
    }