@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto+Mono&display=swap');

*{
    margin: auto 0px;
    padding: 0;
    box-sizing: 0;
}

body {
    background:linear-gradient(50deg, rgb(143, 255, 255) , rgb(255, 210, 127));  
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    border: 20px solid black;
    animation: borde 4s infinite linear;
}


body a {
    padding: 10px;
    display: table;
    text-decoration: none;
    background-color: rgba(124, 124, 124, 0.466);
    color: black;
}
body a:active {
    transform: scale(80%);
}   


@keyframes borde { 
    0%{
        border: 20px solid rgb(173, 0, 0); 
    }

    30% {
        border: 20px solid rgb(0, 139, 86); 

    }
    50%{
        border: 20px solid rgb(184, 141, 0); 
    }

    70%{
        border: 20px solid rgb(0, 54, 202); 
    }

    90%{
        border: 20px solid rgb(210, 255, 7); 
    }

    100%{
        border: 20px solid rgb(255, 7, 7); 
    }
}










.contenedor {
    margin: auto;
    text-align: center;
    width: 80%;
}

.contenedor h1 {
    font-size:60px ;
    margin: 50px 0px 140px 0px;
}

.contenedor h1 span {
    animation: admiracion 2s infinite;
}
@keyframes admiracion {
    0%{
        font-size: 56px;
    }
    50%{
        font-size: 35px;
    }
    100%{
        font-size: 56px;
    }
}






.contenedor .subtitulo{
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 120px;

}
.contenedor span{
    font-size: 20px;
    font-weight: none;
    color: rgb(1, 24, 59);
    
}




.escriba {
    font-size: 30px;
    margin-bottom: 40px;
    color: rgb(0, 70, 139);
    font-weight: bold;
    animation: escribra 2s infinite;
}

@keyframes escribra {
    0%{
        transform: scale(90%);
    }
    50%{
        transform: scale(100%);
    }
    100%{
        transform: scale(90%);
    }
}




input {
    font-size: 25px;
    margin-bottom: 40px;
}

button { 
    font-size: 20px;
    padding: 3px;
}

button:active{
    transform: scale(90%);
}