* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.contenedor1{
    text-align: center;
    font-size: 14px;
    padding: 50px;
}

.content1 {
    text-align: center;
    margin-top: 100px;
}

.content1 h1 {
    margin:20px 0px;
}
.content1 p {
    margin:20px 0px;
    padding: 0px 20px;
}

.content1 img {
    display: none;
}


/* ================================================ */

.zowie .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.zowie .contenedor article img{
    width: 380px;
}


/* ============================== */

.zowie article p {
    font-size: 40px;
}
.zowie .EC{
    text-align: center;
}
.zowie .EC p{   
    margin-top: -60px;
    opacity: 0;
}
.zowie .EC img:hover {
    transform: scale(120%);
    transition: 1s all;

}
.zowie .EC img:hover ~ p{
    transition: 1s all;
    opacity: 1;
}

/* == */

.zowie .FK{
    text-align: center;
}
.zowie .FK p{   
    margin-top: -60px;
    opacity: 0;
}
.zowie .FK img:hover {
    transform: scale(120%);
    transition: 1s all;

}
.zowie .FK img:hover ~ p{
    transition: 1s all;
    opacity: 1;
}

/* == */

.zowie .ZA{
    text-align: center;
}
.zowie .ZA p{   
    margin-top: -60px;
    opacity: 0;
}
.zowie .ZA img:hover {
    transform: scale(120%);
    transition: 1s all;

}
.zowie .ZA img:hover ~ p{
    transition: 1s all;
    opacity: 1;
}



@media screen and (min-width:1024px) {
    .content1 {
        margin-top: 150px;
        
    }

    .content1 h1{
        margin-bottom: 40px;
    }
    .content1 p{
        padding: 0px 100px;
    }

    .content1 img{
        display: inline;
        width: 100px;
        height: 100px;
        margin-right:150px;
        margin-top: 60px;

    }
    .content1 .contenedor{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        width: 1000px;
    }

    .contenedor1{
        text-align: left;
        font-size: 20px;
        padding: 50px;
        border-bottom: 1px solid black;
        width: 1000px;
        margin:auto;
        margin-top: 100px;        
    }
}

