* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenido2 {
    margin-top: 100px;
    text-align: center;
    background-color: rgba(190, 190, 190, 0.534);
}

.contenido2 h1{
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

.contenido2 p{
    font-size: 12px;
    margin-bottom: 70px;
}

.contenido2 .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.contenido2 .contenedor img {
    max-width:220px;
    width: 100%;
}


@media screen and (min-width:768px){
    .contenido2 h1{
        font-size: 20px;
    }
    
    .contenido2 p{
        font-size: 16px;
    }


}
@media screen and (min-width:1024px){
    .contenido2 h1{
        font-size: 23px;
    }
    
    .contenido2 p{
        font-size:19px;
    }


}