@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Press+Start+2P&family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Nova+Mono&family=Press+Start+2P&family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Nova+Mono&family=Press+Start+2P&family=Roboto+Mono&family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
*{
    margin: 0;
}

body{
    background-image: url("/img/fondocomidas0000.jpg");
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
    cursor: url(/img/cursor.png),auto;
    
}

/* ESTILOS GENERALES */
nav{ 
    position: fixed;
    width: 100%;
    font-family: 'PT Sans', sans-serif;s
}

nav  ul{
    list-style: none ;
    padding: 0;
    
}

nav li{
    line-height: 60px;
    position: relative;
}

nav li ul{
    position: absolute;
}

nav a{
    text-decoration: none;
    color:#faf2d8;
    text-shadow: -2px 1px 10px rgb(0, 0, 0);
    display: block;
    padding:0px 70px 0px 70px;
    font-size: 18px;
    font-weight:;
    transition: 0.5s;

}

nav a:hover{
    background-color: rgb(63, 62, 62);

}




nav li ul{
    display: none;
}

nav li:hover ul{
    display:block;
}






/* ESTILOS PRIMER NIVEL */
nav > ul{
    background:linear-gradient(50deg,rgb(167, 157, 68), rgb(139, 85, 13) );
    display: table;
    width: 100%;
    background-size: 500%;
    animation:  animado 5s infinite;
}

@keyframes animado {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

nav > ul > li{
    float: right;
}

/* ESTILO SEGUNDO NIVEL */

nav li li{
    background: rgb(41, 41, 41);
    width: 99%;
}

nav > ul > li > ul{
    top:100%
}




/* ======= logo */

nav .logo{
    float: left;
    margin: 0;
    padding: 0;
}

.logo img{
    width: 130px;
    height: 42px;
    margin: 9px 0px 0px 30px;
}

.logo:hover{
    background-color: #e0ac0000;
}


/* ======================== */









main{
    padding-top: 60px;
}
.titulo{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(8, 8, 6);
    font-size: 40px;
    margin-top: 20px;
    
}

.texto1{
    text-align: center;

    font-size: 20px;
    margin: 10px 0px 30px 0px;
    
}

.texto2{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    
}

.texto3{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 30px 0px 50px 0px ;
    
}

.tabla{
    Border-collapse:collapse;
    background-color: rgb(170, 111, 111);
    margin: 20px 0px 0px 0px;
}

.tabla thead{
    background-color: rgba(231, 156, 15, 0.952);
    
}
.tabla td{
    border: 3px solid sienna;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(3, 0, 0);


}



/* ===================== */
.contenedorimagenes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.contenedorimagenes img{
    margin: 10px 60px 20px 60px;
    border: 3px solid black;
    transition: 1s ;

}
.contenedorimagenes img:hover{
    transform: scale(200%);
}


/* PIE DE PAGINA */

.pie{
    background-color: black;
    color: white;

}


.pie .nombre{
    font-size:40px;
    padding: 80px 0px 40px 0px;
    text-align: center;
}

.pie address{
    text-align: right;
    padding: 10px 0px 10px 0px;
}

.pie .facebook {

    float:right ;
    width: 25px;
    margin:5px 20px 0px 20px;
}

