* {
    margin: 0;
    padding: 0; 
}


body{
    background-color: darkcyan;
}
main{
    padding-top: 60px;
}

.contenido1{
    background:linear-gradient(60deg,rgba(58, 67, 153, 0.322), rgba(255, 255, 255, 0.233) ,rgba(143, 58, 58, 322));

}

.contenido1 h1{
    text-align: center;
    text-shadow: -2px 2px 2px white;
    font-size: 60px;
}
.contenido1 img{
    width: 240px;
    float: right;
    margin:0px 40px 0px 40px ;
}

.contenido1 p{
    margin: 0px 50px 0px 50px ;
    font-size: 23px;
}


/* ========================== */


.contenedortotal{
    margin-top: 100px;
    display: flex;
    justify-content: center;  
}

.img1{
    width: 300px;
    margin: 0px 60px 0px 60px ;
    border: 10px solid black;
}

.img2{
    width: 300px;
    margin: 0px 60px 0px 60px ;
    border: 10px solid black;
}

.img3{
    width: 300px;
    height: 200px;
    margin: 0px 60px 0px 60px ;
    border: 10px solid black;
}

.contenedortotal .contenedorimgandtext{  
    position: relative;  
    display: inline-block;
}

.contenedortotal .contenedortext{
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.contenedortext:hover{
    opacity: 1;
    transition:1s ease-out;
    backdrop-filter: blur(4px);

}

