@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Pacifico&display=swap');

* {
    margin: 0;
}

body {
    background-image: url("/img/background.jpg");
    background-size: 100%;
    font-family: 'Pacifico', cursive;
    cursor: url(/img/cursor.png),auto;
}




.barra{ 
    background:linear-gradient(60deg,rgba(143, 61, 61, 0.904), rgba(146, 83, 165, 0.897) );
    text-align: center;
}
/* ESTILOS GENERALES */
.barra  ul{
    list-style: none ;
    padding: 0;

}

.barra li{
    line-height: 80px;
    position: relative;
}

.barra li ul{
    position: absolute;
}

.barra a{
    text-decoration: none;
    color:black;
    display: block;
    padding:0px 70px 0px 70px;

}

.barra li:hover{
    background-color: rgba(102, 54, 54, 0.774);
    transition: 0.5s;

}




.barra li ul{
    display: none;
}

.barra li:hover ul{
    display:block;
}






/* ESTILOS PRIMER NIVEL */
nav > ul{
    display: table;
    width: 100%;
}

nav > ul > li{
    float: left;

}







/* ESTILO SEGUNDO NIVEL */

nav li li{
    background: rgba(18, 175, 136, 0.822);
    width: 108%;
}

nav > ul > li > ul{
    top:100%
}


/* =============================================================================
=============================================================================
============================================================================= */


/* CONTENIDO DE LA WEB */

main{
    background-color: rgba(128, 128, 128, 0.788);
    margin: 0px 50px 0px 50px;
    
}

main .contenido1 h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    text-shadow: -2px 2px 2px white;
}
main .contenido1{
    display: table;
}

main .imgmundo {
    width: 200px;
    float: left;
    margin: 20px 25px 10px 25px;
}

main .contenido1 .texto1{
    margin-top: 20px;
    font-size: 20px;
    margin: 0px 30px 0px 0px;
}

main .contenido1 .texto2{
    font-size: 24px;
    margin: 130px 100px 0px 100px;
    border-top: 4px dashed rgb(58, 58, 58);
    border-bottom:4px dashed rgb(58, 58, 58) ;
    
}

main .contenido1 .video{
    margin:  50px 0px 0px 59px;
}

/* 
=======================================================================
============================================================
============================================================= */


/* TABLA */

.tabla{
    width: 800px;
    margin: 60px 0px 60px 0px ;
    background-color: rgba(100, 148, 237, 0.74);
    border-collapse:collapse;
    font-size: 18px;
}

.tabla caption{
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(100, 83, 83, 0.493);
    text-shadow: -2px 2px 2px white;

}


.tabla thead{
    background-color: rgb(190, 158, 97);
}

.tabla td{
    border: 3px solid black;
}

/* 
=======================================================================
============================================================
============================================================= */


/* MAPA */


.titulomapa{
    text-align: center;
    font-size: 60px;
    text-shadow: -2px 2px 2px white;
    margin-bottom: 40px;
}

.mapa{
    margin-bottom: 50px;
}

/* 
=======================================================================
============================================================
============================================================= */


/* PIE DE PAGINA */

.pie{
    background-color: black;
    color: white;
    margin:0px 50px 0px 50px;
}


.pie .nombre{
    font-size:40px;
    padding: 50px 0px 50px 0px;
    text-align: center;
}

.pie address{
    text-align: right;
}

.pie .facebook {
    float:right ;
    width: 25px;
    margin:0px 20px 0px 20px;
}